<nav class="nav">
    <div class="nav-container">
        <div class="nav-link">
            <div class="nav-link__logo">
                <svg class="logo">
                    <use xlink:href="img/sprite.svg#icon-instagram"></use>
                </svg>
                <div class="title-box">
                    <a href="#" class="nav-link__title">InstaClone</a>
                </div>
            </div>
        </div>

        <div class="nav__form">
            <form action="#" class="search">
                <input type="text" placeholder="Search" class="seacrh__input">
            </form>
        </div>

        <div class="nav__list">
            <ul class="list">
                <li class="list__item" href="#">
                    <svg class="list__icon">
                        <use xlink:href="img/sprite.svg#icon-home"></use>
                    </svg>
                </li>
                <li class="list__item">
                    <svg class="list__icon">
                        <use xlink:href="img/sprite.svg#icon-compass"></use>
                    </svg>
                </li>
                <li class="list__item">
                    <svg class="list__icon">
                        <use xlink:href="img/sprite.svg#icon-user"></use>
                    </svg>
                </li>
            </ul>
        </div>
    </div>
</nav>