<nav class="nav">
    <div class="nav-container">
        <div class="nav-company">
            <div class="nav-company__item">
                <span class="logo">
                    <i class="fab fa-instagram fa-3x"></i>
                </span>
            </div>
            <div class="nav-company__item">
                <a href="#" class="nav-link">InstaClone</a>
            </div>
        </div>
    
        <div class="search">
            <form>
                <label>&nbsp</label>
                <input type="text" placeholder="Search" class="search__input">
            </form>
        </div>
    
        <div class="nav__list">
            <div>
                <div class="item">
                    <a href="#">
                        <span class="list__icon">
                            <i class="fas fa-home fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div>
                <div class="item">
                    <a href="#">
                        <span class="list__icon">
                            <i class="fas fa-compass fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div>
                <div class="item">
                    <a href="#">
                        <span class="list__icon">
                            <i class="far fa-heart fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div>
                <div class="item">
                    <a href="#">
                        <span class="list__icon">
                            <i class="far fa-user-circle fa-2x"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>