<div class="instacard">
    <div class="insta-header">
        <img src="https://images.unsplash.com/photo-1612104846826-9b2336a59419?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="insta-header-profile__img">
        <a class="insta-header-username link">Username</a>
        <div class="insta-header-time">58 min</div>
    </div>
    <div class="instacard-img">
        <img src="https://images.unsplash.com/photo-1612217285098-69d17608bf18?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="instacard_img">
    </div>
    <div class="instacard-content">
        <p class="instacard-likes">100 likes</p>
        <p class="instacard-user">
            <a href="#" class="link">Username</a>
            I GOT TO PLAY NINTENDO SWITCH ON #NINTENDO MINUTE! 😱 So happy that I can finally talk about this! @kitellis and @breath0air told me that we were going to be playing
        </p>
        <a href="#" class="instacard-comment link">View all comments</a>
        <div class="instacard-comments">
            <p class="content-description">
                <a href="#" class="link content__username">Username</a>
                I GOT TO PLAY NINTENDO SWITCH ON #NINTENDO MINUTE! 😱 So happy that I can finally
            </p>
            <p class="content-description">
                <a href="#" class="link content__username">Username</a>
                I GOT TO PLAY NINTENDO SWITCH ON #NINTENDO MINUTE! 😱 So happy that I can finally
            </p>
        </div>
        <hr>
    </div>
    <div class="instacard-footer">
        <input type="text" placeholder="Add a comment..." class="footer__input">
        <a href="#" class="footer__post link">Post</a>
    </div>
</div>