<div class="card-post">
    <div class="card-header">
        <img src="https://images.unsplash.com/photo-1611841315886-a8ad8d02f179?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="user-profile" class="card-user-image">
        <a class="card-username">Username</a>
        <div class="card-time">
            58 min
        </div>
    </div>

    <div class="card-image">
        <img src="https://images.unsplash.com/photo-1569389397653-c04fe624e663?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80" alt="" class="card-image__img">
    </div>

    <div class="card-content">
        <a href="#" class="card-content__likes">200 Likes</a>
        <div class="card-content-username">
            <p class="card-content__description">
                <a href="#" class="card-content__user-name">Username </a>
                LOL! So funny Queen! Omg girl you are beatiful. Dont listen to the naysayers
            </p>
        </div>
        <div class="card-content-comments">
            <a href="" class="card-content-link__comments">View all 10 comments</a>
        </div>
        <div class="card-content-list">
            <a href="#" class="card-content-username">Goku</a>
            <p class="card-content-username__comment">Oh Yeah</p>
            <a href="#" class="card-content-username">Goku</a>
            <p class="card-content-username__comment">Oh Yeah</p>
        </div>
    </div>

    <hr class="card-post-hr">

    <div class="card-footer">
        <form action="#" class="comment-form">
            <div class="comment-form__group">
                <input type="text" placeholder="Add a comment..." class="comment-form__input">
            </div>
            <button class="comment-btn">Post</button>
        </form>
    </div>
</div>