<div class="card mb-4" style="max-width: 40rem">
    <div class="card-header bg-white">
        <div class="d-inline-flex">
            <div class="mx-2">
                <img src="https://images.unsplash.com/photo-1612104846826-9b2336a59419?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="insta-header-profile__img">
                <a class="text-decoration-none text-dark fw-bold" href="#">Username</a>
            </div>
        </div>
        <div class="float-end pt-2">
            58 min ago
        </div>
    </div>
    <img src="https://images.unsplash.com/photo-1612217285098-69d17608bf18?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
        class="card-img-top">
    <div class="card-body">
        <div class="d-flex mb-2">
            <div class="me-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
            </div>
            <div class="pb-1">
                <a  class="text-dark" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-right" viewBox="0 0 16 16">
                        <path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
                    </svg>
                </a>
            </div>
        </div>
        <p class="fw-bold">100 likes</p>
        <p class="card-text mt-3">
            <a href="#" class="text-decoration-none fw-bold text-dark">Username</a>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, ut! Distinctio facilis vel delectus nihil
            eveniet. Itaque tempora voluptatem quis. Ipsum accusantium eveniet,
            magni quas voluptate dolorum fuga perferendis consectetur.
        </p>
        <div class="">
            <a href="#" class="text-decoration-none text-black-50">View all comments</a>
            <p class="">
                <a href="#" class="text-decoration-none text-dark fw-bold">Username</a>
                I GOT TO PLAY NINTENDO SWITCH ON #NINTENDO MINUTE! 😱 So happy that I can finally
            </p>
            <p class="">
                <a href="#" class="text-decoration-none text-dark fw-bold">Username</a>
                I GOT TO PLAY NINTENDO SWITCH ON #NINTENDO MINUTE! 😱 So happy that I can finally
            </p>
        </div>
    </div>
    <div class="d-inline-flex ms-3 mb-3">
        <input class="border-0 w-100" type="text" placeholder="Add a comment">
        <button type="button" class="btn btn-link text-decoration-none">Post</button>
    </div>
</div>