<% layout('./layouts/boilerplate') -%>

<%- include('./partials/navbar'); %> 
<main>
    <section class="d-flex justify-content-center mt-big">
        <div class="d-flex flex-direction-column">
            <%- include('./partials/post'); %>
            <%- include('./partials/post'); %>
        </div>
    </section>
</main>