<% layout('./layouts/boilerplate') -%>

<div class="feed-body">
    <%- include('./partials/navbar'); %>
    <main>
        <div class="container">
            <%- include('./partials/post'); %>
        </div>
    </main>
</div>