<% layout('./layouts/boilerplate') -%>

<main class="login-body">
    <div class="card">
        <h1 class="card__title">
            InstaClone
        </h1>
        <form action="#" class="form">
            <div class="form__group">
                <label class="form__label">&nbsp</label>
                <input type="text" name="username" placeholder="Username" class="form__input">
            </div>

            <div class="form__group">
                <label>&nbsp</label>
                <input type="password" name="password" placeholder="Password" class="form__input">
            </div>
            <button class="login-btn">Log in</button>
                    <!-- <div class="form__or">
                        or
                    </div> -->
        </form> 
    </div>
    <div class="card card--signin">
        <p class="card--login">Don't have an account? <a href="/signup" class="signup-link">Sign up</a></p>
    </div>   
</main>