<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/stylesheet/style.css">
        <link rel="stylesheet" href="/css/stylesheet/login.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
        <title>InstaClone</title>
    </head>
    <body class="login-body">
        <main>
            <div class="card">
                <h1 class="card__title">InstaClone</h1>
                <form action="#" class="form">
                    <div class="form__group">
                        <label class="form__label">&nbsp</label>
                        <input type="text" name="username" placeholder="Username" class="form__input">
                    </div>

                    <div class="form__group">
                        <label>&nbsp</label>
                        <input type="password" name="password" placeholder="Password" class="form__input">
                    </div>
                    <button class="login-btn">Log in</button>
                    <!-- <div class="form__or">
                        or
                    </div> -->
                </form>
            </div>
            <div class="card card--login">
                <p class="card__desc--bottom">Don't have an account? <a href="/signup" class="signup-link"> Sign up</a></p>
            </div>
        </main>
    </body>
</html>