.container {
    display: flex;
    justify-content: center;
}

.card-post {
    border: 1px solid var(--color-light-gray);
    border-radius: 3px;
    width: 100%;
    max-width: 60rem;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.card-header {
    padding: 2rem;
    height: 7rem;
    background-color: var(--color-white);
}

.card-user-image {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}

.card-username {
    margin-left: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.card-time {
    float: right;
    width: 8rem;
    padding-top: 1rem;
    text-align: right;
    color: #999;
}

.card-image__img {
    max-width: 100%;
    max-height: auto;
}

.card-content {
    padding-left: 1.2rem;
    background-color: var(--color-white);
}

.card-content__user-name:link,
.card-content__user-name:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 1.2rem;
    margin-top: 1.2rem;
    margin-bottom: 1.1rem;
    color: var(--color-black);
}

.card-content__description {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.card-content__likes:link,
.card-content__likes:visited {

    display: inline-block;
    margin-top: 1.5rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-black);
}

.card-content-link__comments:link,
.card-content-link__comments:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
    color: var(--color-light-gray);
}

.card-content-username:link,
.card-content-username:visited {
    font-size: 1.4rem;
    font-size: 700;
    text-decoration: none;
    color: var(--color-black);
}

.card-content-username__comment {
    font-size: 1.3rem;
    padding-bottom: 1.1rem;
}

.card-post-hr {
    width: 95%;
    margin: 0 auto;
    color: var(--color-secondary);
}

.card-footer {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
}

.comment-form {
    display: flex;
}

.comment-form__group {
    width: 100%;
    margin-right: 3rem;
}

.comment-form__input[type=text] {
    border: none;
    border-bottom: 1px solid var(--color-light-gray);
    padding: 1rem 1rem;
    width: 100%;
}

.comment-btn {
    border: none;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--signin-button--color);
    padding: auto;
    background-color: var(--color-white);
}