.signup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-primary);
}

.card {
    background-color: white;
    border-radius: 2px;
    border: 1px solid var(--color-light-gray);
    width: 15%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
}

.card__title {
    font-size: 3.6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.card__desc {
    color: var(--color-dark-gray);
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
}

.card__desc--bottom {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    font-weight: 700;
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

.card__form {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.form__group:not(:last-child) {
    margin-bottom: 1.5rem;
}

.form__input {
    font-size: 1.5rem;
    width: 89%;
    padding: .8rem;
    border-radius: 3px;
    background-color: var(--color-primary);
}

.card--login {
    font-size: 1.4rem;
    padding: 1.5rem 1.5rem;
}

.card__link:visited,
.card__link:link {
    color: var(--signin-button--color);
    text-decoration: none;
}

.btn--signin {
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    border-radius: 4px;
    background-color: var(--signin-button--color);
    padding: .5rem 14rem;
    cursor: pointer;
}