.card-header {
  background-color: var(--color-white);
  padding: 4rem;
  height: 4rem;
 }

.border-0 {
   outline: none;
}

.remove-bullets {
  list-style-type: none;
}
  
.insta-header-profile__img {
   border-radius: 50%;
   width: 3rem;
   height: 3rem;
   vertical-align: middle;
}

.profile-img {
  display: flex;
  margin-right: 5rem;
}

.profile-img__img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
}

.profile-img__img--feed {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.profile-img__img--suggestions {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.u-margin-huge {
  margin-left: 150px;
}